<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>平台用户违规处罚</title>
    <style>
        * {
            margin: 0;
            padding: 10px;
        }

        h1 {
            text-align: center;
            color: #ff3e6d;
        }

        h2 {
            color: #ff3e6d;
        }

        h4 {
            color: #ff3e6d;
        }
    </style>
</head>

<body oncopy="alert('对不起，本网页禁止复制！');return false;">
    <h1>违规处罚类型说明</h1>

    <p> 以下违规处罚类型，将由官方根据事实及证据，视其情节严重程度给予相应的处罚，包括但不限于清空信息、警告、禁止广播交友、禁言、封号、封设备、封IP等。</p>
    <h2>用户违规行为说明</h2>
    <h3>1、根据《互联网新闻信息服务管理规定》，用户的言论不得违反相关法律法规；一旦违反，将处于永久封号的处罚，情节严重者还将被永久封禁设备及IP。</h3>
    <p> 1.1发布违反宪法确定的基本原则的内容；<br />
        1.2危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br />
        1.3损害国家荣誉和利益的；<br />
        1.4煽动民族仇恨、民族歧视，破坏民族团结的；<br />
        1.5破坏国家宗教政策，宣扬邪教和封建迷信的；<br />
        1.6散布谣言，扰乱社会秩序，破坏社会稳定的；<br />
        1.7煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；<br />
        1.8以非法民间组织名义活动的；<br />
        1.9侮辱或者诽谤他人，侵害他人知识产权，剽窃他人作品的，侵害他人合法权益的；<br />
        1.10含有法律、行政法规禁止的其他内容的。</p><br />
    <h3> 2、用户发布广告宣传类信息的，官方将视其情节严重的程度，对用户处于清空、警告、禁言、封号等处罚：</h3>
    <p> 2.1 未经官方同意，擅自将房名，昵称等修改为招收人员的；<br />
        2.2 利用微信号、QQ、手机号、其他平台账号ID或二维码等，将用户引导到其他平台的；<br />
        2.3包括但不限于在相册、头像处上传各种类型的销售广告；<br />
        2.4 用户有涉及诈骗、非法获利的广告行为；<br />
        2.5 出售第三方软件、协议，或有其他扰乱平台秩序的行为；<br />
        2.6恶意注册账号、买卖账号等的；<br />
        2.7 以一切形式来冒充官方人员；<br />
        2.8恶意诋毁“啾咪语音”平台的；<br />
        2.9冒充他人或者机构，利用他人名义传播任何信息的；<br />
        2.10恶意散布谣言，发布各类不实信息，诱骗信息等；<br />
        2.11利用外挂等作弊软件或其他互联网漏洞来获取不正当的利益的；<br />
        2.12利用平台进行洗钱等活动的；<br />
        2.13发布含有代充值、刷单等信息，进行兜售金币、推广第三方充值的行为的；<br />
        2.14 在广播交友或公屏上，发布涉黄、涉政、涉赌、涉毒、涉黑的，以及含有辱骂、竞品平台、私下走账或者频繁进行无意义的刷屏等。<br />
    </p>
    <h3>3、用户传播淫秽色情等信息的，官方将视其情节严重的程度，对用户处于清空、警告、禁言、封号等处罚：</h3>
    <p> 3.1用户在包括但不限于在房名、头像、昵称、签名、心声、相册等散布淫秽、色情内容的；<br />
        3.2用户散布以色情为目的的情色文字，情色视频，情色漫画的；<br />
        3.3 宣传、分享、传播色情低俗的网站、视频等；<br />
        3.4领用平台进行贩卖色情视频、进行性交易等各种不正当的交易的；</p><br />
    <h3> 4、用户的行为不符合网络道德的，官方将视其情节严重的程度，对用户处于清空、警告、禁言、封号等处罚：</h3>
    <p>4.1 恶意灌水，无意义重复刷屏的；<br />
        4.2恶意泄露他人隐私信息，侵害他人合法权益的；<br />
        4.3 开追悼会，葬礼，恶意悬挂他人图片的；<br />
        4.4 用户发表如劝诱自杀，教唆他人犯罪等内容的；<br />
        4.5组织、诱导用户加入传销的组织机构的；<br />
    </p>

    <h3>5、用户的言论涉及暴力赌博的，官方将视其情节严重的程度，对用户处于清空、警告、禁言、封号等处罚：</h3>

    <p> 5.1散播人或动物被杀、致残以及枪击、刺伤、拷打等受伤情形的真实画面<br />
        5.2出现描绘暴力、自残等内容；<br />
        5.3.涉及令人不安的血腥场景的；<br />
        5.4出现以鼓励非法或鲁莽使用方式等为目的而描述真实武器的内容；<br />
        5.5发送、组织聚众赌博、出售赌博器具、传授赌博（千术）技巧、方式、方法等内容；<br />
        5.6宣传违背人性道德的血腥游戏；<br />
        5.7宣传关于校园霸凌、社会暴力事件等内容</p><br />
    <h3>6、用户被投诉举报的，官方将视其情节严重的程度，对用户处于清空、警告、禁言、封号等处罚：</h3>
    <p>6.1用户被投诉举报，一经核实，将按照该用户违规行为的情节严重的程度进行警告、禁言或者封号等处理。<br />
        6.2用户进行恶意举报，一旦被核实，视其情节严重的程度，将对恶意举报人进行警告、禁言或者封号等处理。<br />
        6.3用户以不正当的方式对付竞争对手、公会等，如组织煽动人员进行恶意谩骂，散播不实的谣言；视其情节严重的程度，将对该用户进行警告、禁言或者封号等处理。<br />
        6.4.用户因发表不当言论而被禁言的，禁言的时长依次递增。</p><br />
    <h4> 在《互联网新闻信息服务管理规定》基础上，突出以下几点内容：
        1.严禁在语音交友，文字聊天或广播交友的过程中进行或带有诱导性涉黄，诱导性赌博的内容。<br />
        2.严禁低俗炒作、传播负能量、违背社会主义核心价值观的内容。<br />
        3.严禁直接参与或间接参与刷单诈骗。</h4><br />


</body>

</html>