<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="usersmanage/users/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Music_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-music_url" readonly data-rule="required" class="form-control" name="row[music_url]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-music_url" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button id="plupload-music_url" class="btn btn-primary plupload" data-input-id="c-music_url" data-url="ajax/upload?filepath=/music/{:date('Ymd')}/"><i class="fa fa-upload"></i> {:__("上传文件")}</button>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="c-music_url" class="control-label col-xs-12 col-sm-2">{:__('music_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-music_url" data-rule="" class="form-control" size="50" name="row[music_url]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-music_urlmusic_url" class="btn btn-danger plupload" data-input-id="c-music_url" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-url="Ajax/upload/?filepath=/emoji/" data-preview-id="p-img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-music_url" class="btn btn-primary fachoose" data-input-id="c-music_url" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-music_url"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-music_url"></ul>
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Enable')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[enable]', ['1'=>__('启用'), '2'=>__('禁用')],1)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Music_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-music_name" class="form-control" name="row[music_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Singer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-singer" class="form-control" name="row[singer]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Upload_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-upload_user" class="form-control" name="row[upload_user]" type="text" value="匿名">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Created_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-created_at" readonly data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[created_at]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
